body {
    background-color: #000;
}
.swiper-container {
    width: 800px;
    height: 450px
}

.swiper-container .swiper-slide {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container .swiper-slide img {
    width: 800px;
}